@import "./tailwind";
@import "./applayout";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded dark:bg-gray-700;
}
