@import "./tailwind";
@import "./applayout";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded dark:bg-gray-700;
}
/* ::-webkit-scrollbar-thumb {
  @apply bg-secondary-500/30 transition-all rounded dark:bg-secondary-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-500/40 dark:bg-secondary-500;
} */
